$primary-color: #1976d2;

@import './reset.scss';
@import './drawer.scss';
@import './topbar.scss';
@import './login.scss';
@import './dashboard.scss';
@import './accounts.scss';
@import './categories.scss';
@import './transactions.scss';

body {
  color: #464855;
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

.gif {
  width: 100%;
}

.list-is-empty {
  text-align: center;
  span {
    padding: 25px;
    display: block;
    font-size: 18px;
  }
}
.floating-add-new {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
  display: block;
}
.clear-btn {
  background: none;
  border: none;
  border-radius: 0;
  cursor: pointer;
  outline: none;
  color: $primary-color;
  &:hover {
    text-decoration: underline;
  }
}

.MuiPaper-root {
  box-shadow: 0 2px 18px 1px rgba(49, 53, 72, 0.12) !important;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.MuiBackdrop-root {
  backdrop-filter: blur(2px);
}
.center {
  display: block;
  text-align: center;
}

.main-container {
  padding-top: 56px;
  @media (min-width: 960px) {
    padding-top: 64px;
    padding-left: 260px;
  }
}
.main-wrapper {
  padding: 15px;
  @media (min-width: 1200px) {
    padding: 20px;
  }
  @media (min-width: 1700px) {
    padding: 50px 20px;
  }
  > div {
      position: relative;
  }
}
.MuiLinearProgress-root {
  z-index: 9999;
}

label.MuiFormLabel-root.MuiInputLabel-root {
    background-color: #fff;
}

.csv-modal {
    .MuiButtonBase-root.MuiListItem-root {
        .MuiListItemIcon-root {
            min-width: auto;
        }
        .MuiListItemText-root {
            @media (min-width: 600px) {
                min-width: 300px;
            }
        }
        .MuiAvatar-root.MuiAvatar-circle {
            box-shadow: inset 0 0 5px 0 rgba(0,0,0,0.2);
        }
    }
}



.fade-appear, .fade-enter {
    transform: scale(1.05);
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: transform cubic-bezier(0.250, 0.250, 0.000, 1.005) .5s .05s, opacity .5s;

    .floating-add-new {
        display: none;
    }
}
.fade-exit {
    transform: scale(1);
    opacity: 1;
}
.fade-exit.fade-exit-active {
    transform: scale(1.05);
    transition: transform cubic-bezier(0.250, 0.250, 0.000, 1.005) .3s .05s, opacity .1s;
    opacity: 0;

    .floating-add-new {
        display: none;
    }
}
.alert-msg {
    box-shadow: none !important;
}
.static-for-animation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.hidden {
    display: none !important;
}