.module-transactions {
  max-width: 1300px;
  margin: 0 auto;
  @media (min-width: 600px) {
    margin: 10px auto;
  }
  @media (min-width: 960px) {
    margin: 5px auto;
  }
  
}
.module-transactions-modal .MuiDialog-paper {
    width: 100%;
    .MuiFormControl-root {
        margin: 0 0 20px 0;
    }
    .alert-msg {
        margin: 30px 10px;
        box-shadow: none !important;
    }
    form {
        .MuiTextField-root {
            width: 100%;
        }
        .one-line {
            @media (min-width: 600px) {
                display: flex;
                margin: 0 -10px;
            }
            .line-element {
                width: 100%;
                @media (min-width: 600px) {
                    display: flex;
                    padding: 0 10px;
                    width: 50%;
                }
                > div {
                    width: 100%;
                }
            }
        }
        .btn-section {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            button {
                margin-top: 10px;
            }
        }

    }
}

.transaction-list {
    .list {
      > div {
        margin-bottom: 10px;
      }
      .head {
        border-bottom: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        background-color: #fbfbfb;
        .date {
          display: flex;
          align-items: baseline;
          .day {
            font-size: 28px;
            font-weight: 500;
          }
          .month-year {
            text-transform: uppercase;
            font-size: 13px;
            padding-left: 5px;
          }
        }
        .amount {
          font-size: 17px;
          .plus {
            color: #4caf50;
          }
          .minus {
            color: #e91e63;
          }
        }
      }
    }
    .filters {
        padding-bottom: 20px;
        .hidden-datepicker {
            display: none;
        }
        .date-filter {
            display: flex;
            align-items: center;
            justify-content: center;
            button {
                font-size: 15px;
                .MuiButton-label {
                    span {
                        font-size: 20px;
                        margin-left: 10px;
                    }
                }
            }
            .from, .to {
                display: none;
                @media (min-width: 500px) {
                    display: flex;
                    padding: 0 15px;
                    font-size: 16px;
                    opacity: .8;
                }
            }
            .balance-from, .balance-to {
                display: none;
                flex-direction: column;
                flex: 1;
                @media (min-width: 700px) {
                    display: flex;
                }
                .label {
                    font-size: 13px;
                }
                .value {
                    font-size: 16px;
                    .plus {
                        color: #4caf50;
                    }
                    .minus {
                        color: #e91e63;
                    }
                }
            }
            .balance-to {
                text-align: right;
            }
        }
    }
  }
.transactions-item-list {
    li {
      padding: 15px;
      display: flex;
      align-items: center;
      &:not(:last-child) {
          
          border-bottom: 1px solid #eee;
      }
      .detail {
        flex: 1 1 auto;
        @media (min-width: 640px) {
          display: flex;
          align-items: center;
        }
        .info {
          display: flex;
          flex-direction: column;
          @media (min-width: 640px) {
            padding-right: 15px;
          }
          @media (min-width: 900px) {
            padding-right: 30px;
          }
          .category {
            letter-spacing: 0.2px;
            font-size: 15px;
            @media (min-width: 900px) {
              padding-right: 15px;
            }
          }
          .account {
            opacity: 0.6;
            display: flex;
            align-items: center;
            .MuiIcon-root {
              font-size: 14px;
            }
            .name {
              padding-left: 3px;
              font-size: 13px;
              letter-spacing: 0.2px;
            }
          }
          &.transfer {
              flex-direction: row;
              .icons {
                display: flex;
                flex-direction: column;
                opacity: 0.6;
                padding-top: 3px;
                span {
                    font-size: 15px;
                    &:first-child {
                        transform: rotate(90deg);
                        margin-left: -3px;
                    }
                }
              }
          }
        }
        .comment {
          color: #999;
          font-size: 13px;
          word-break: break-all;
        }
      }
      .amount {
        white-space: nowrap;
        padding-left: 15px;
        font-size: 15px;
        .plus {
          color: #4caf50;
        }
        .minus {
          color: #e91e63;
        }
      }
      .icon {
        padding-right: 15px;
        .inner-icon {
          width: 34px;
          height: 34px;
          background-color: #ff9800;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: inset 0 0 9px 2px rgba(13, 13, 13, 0.14);
          color: #fff;
          position: relative;
          span {
            font-size: 20px;
            transform: scale(.7);
            transition: transform .2s cubic-bezier(0.25, 0.1, 0.32, 1.25) .3s;
          }
          &.active {
              span {
                transform: scale(1);
              }
              &::after {
                backdrop-filter: saturate(100%);
              }
          }
          &::after {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              transition: backdrop-filter 1s .2s;
              backdrop-filter: saturate(0%);
          }
        }
      }
    }
  }